<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nagahoribashi_walk.repository.ReviewMapper">

	<!--【insert】レビュー投稿　-->
	<insert ＞ id="insert"
		parameterType="com.example.nagahoribashi_walk.demo.entity.Review">
INSERT INTO reviews (userId, spotId, rating, comment)values(#{userId}, #{spotId}, #{rating}, #{comment}) 
	</insert>	
</mapper>