<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.nagahoribashi_walk.repository.SpotMapper">

    <!-- ページネーション付き取得 -->
    <select id="findAll" resultType="com.example.nagahoribashi_walk.dto.SpotSummary">
        SELECT
			s.id,
			s.spot_name, 
			sp.photo_url,
			r.average_rating, 
			sc.name AS sub_category_name,
			c.name AS category_name,
			s.keywords
        FROM spots s
        LEFT JOIN spot_photos sp
        ON s.id = sp.spot_id AND sp.display_order = 1
		LEFT JOIN (
            SELECT spot_id, AVG(rating) AS average_rating
            FROM reviews
            GROUP BY spot_id
		) r ON r.spot_id = s.id
		INNER JOIN sub_categories sc ON sc.id = s.sub_category_id
		INNER JOIN categories c ON c.id = sc.category_id
        WHERE s.deleted_at IS NULL
        ORDER BY s.updated_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

	<!-- キーワードで取得 -->
    <select id="searchByKeywords" resultType="com.example.nagahoribashi_walk.dto.SpotSummary">
        SELECT
            s.id,
            s.spot_name,
            sp.photo_url,
            r.average_rating,
            c.name AS category_name,
            sc.name AS sub_category_name,
            s.keywords
        FROM spots s
        LEFT JOIN sub_categories sc ON s.sub_category_id = sc.id
        LEFT JOIN categories c      ON sc.category_id = c.id
        LEFT JOIN spot_photos sp
        ON s.id = sp.spot_id AND sp.display_order = 1
        LEFT JOIN (
            SELECT spot_id, AVG(rating) AS average_rating
            FROM reviews
            GROUP BY spot_id
        ) r ON r.spot_id = s.id
        <where>
            s.deleted_at IS NULL
            <if test="hira != null and hira != ''">
                AND (s.spot_name LIKE CONCAT('%', #{hira}, '%') OR s.keywords LIKE CONCAT('%', #{hira}, '%')
                    <if test="kana != null and kana != '' and kana != hira">
                        OR s.spot_name LIKE CONCAT('%', #{kana}, '%')
                        OR s.keywords LIKE CONCAT('%', #{kana}, '%')
                    </if>
                )
            </if>
        </where>
        ORDER BY r.average_rating DESC NULLS LAST
        LIMIT #{limit} OFFSET #{offset}
    </select>
	
	<!-- 検索時のスポット数のカウント -->
	<select id="countByKeywords" resultType="long">
        SELECT count(*) FROM spots s
        <where>
            s.deleted_at IS NULL
            <if test="hira != null and hira != ''">
                AND (
                    s.spot_name LIKE CONCAT('%', #{hira}, '%')
                    OR s.keywords LIKE CONCAT('%', #{hira}, '%')
                    <if test="kana != null 
                        and kana != '' 
                        and kana != hira">
                        OR s.spot_name LIKE CONCAT('%', #{kana}, '%')
                        OR s.keywords LIKE CONCAT('%', #{kana}, '%')
                    </if>
                )
            </if>
        </where>
	</select>
	
    <!-- スポット数のカウント -->
    <select id="count" resultType="long">
        SELECT count(*) FROM spots
        WHERE deleted_at IS NULL
    </select>
    
    <!-- 大谷記載箇所 -->
    <!-- カテゴリー数のカウント -->
    <select id="countByCategoryId" resultType="long">
        SELECT count(id) FROM categories
    </select>
    
    <!-- サブカテゴリー数のカウント -->
    <select id="countBySubCategoryId" resultType="long">
        SELECT count(id) FROM sub_categories
    </select>
    
    
    <!-- トップページおすすめ-->
    <select id="findRecommendedSpots" resultType="com.example.nagahoribashi_walk.dto.SpotSummary">
        SELECT
			s.id,
			s.spot_name, 
			sp.photo_url,
			r.average_rating, 
			sc.name AS sub_category_name,
			c.name AS category_name,
			s.keywords
        FROM spots s
        LEFT JOIN LATERAL (
  			SELECT * FROM spot_photos
            WHERE spot_id = s.id
            ORDER BY created_at DESC
            LIMIT 1
		) sp ON true
		JOIN (
            SELECT spot_id, AVG(rating) AS average_rating
            FROM reviews
            GROUP BY spot_id
		) r ON r.spot_id = s.id
		JOIN sub_categories sc ON sc.id = s.sub_category_id
		JOIN categories c ON c.id = sc.category_id
        WHERE s.deleted_at IS NULL
        ORDER BY average_rating DESC NULLS LAST
        LIMIT 3
    </select>
    
    
    
 <!-- 大谷記載 -->
    <select id="findByCategoryId" resultType="com.example.nagahoribashi_walk.dto.SpotSummary">
        SELECT 
        s.id,s.spot_name,c.name AS category_name,sc.name AS sub_category_name,s.sub_category_id, s.website_url, s.gmap_url, s.address, s.business_hours, s.closed_days, s.estimated_budget, s.keywords, s.details, s.deleted_at, s.created_at, s.updated_at
        FROM spots s
		JOIN sub_categories sc ON sc.id = s.sub_category_id
		JOIN categories c ON c.id = sc.category_id
		WHERE c.id = #{id}
		ORDER BY s.updated_at DESC
    </select>

    <select id="findBySubCategoryId" resultType="com.example.nagahoribashi_walk.dto.SpotSummary">
        SELECT
        s.id, s.spot_name, c.name AS category_name,sc.name AS sub_category_name,s.sub_category_id, s.website_url, s.gmap_url, s.address, s.business_hours, s.closed_days, s.estimated_budget, s.keywords, s.details, s.deleted_at, s.created_at, s.updated_at
        FROM spots s
		JOIN sub_categories sc ON sc.id = s.sub_category_id
		JOIN categories c ON c.id = sc.category_id
		WHERE sc.id = #{id}
		ORDER BY s.updated_at DESC
    </select>
    
</mapper>