<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.nagahoribashi_walk.repository.SpotPhotoMapper">

	<!-- スポットIDから、紐づいた画像情報を全件取得 -->
	<select id="findAllBySpotId" resultType="com.example.nagahoribashi_walk.entity.SpotPhoto">
		SELECT
			id,
			spot_id,
			display_order,
			photo_url
		FROM spot_photos
		WHERE spot_id = #{spotId}
	</select>
	
	<!-- 画像情報を削除 -->
	<insert id="insert">
		INSERT INTO spot_photos
		(
			spot_id,
			display_order,
			photo_url
		) VALUES (
			#{spotId},
			(
				SELECT MAX(COALESCE(display_order, 0)) FROM spot_photos
				WHERE spot_id = #{spotId}
			) + 1,
			#{photoUrl}
		)
	</insert>

	<!-- 画像情報を削除 -->
	<delete id="delete">
		DELETE FROM spot_photos
		WHERE id = #{id}
	</delete>

</mapper>