<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nagahoribashi_walk.repository.SpotMapper">
	
    <!-- ページネーション付き取得 -->
    <select id="findAll" resultType="com.example.nagahoribashi_walk.dto.SpotSummary">
        SELECT
			s.id,
			s.spot_name, 
			sp.photo_url,
			r.average_rating,
			s.sub_category_id, 
			s.website_url, 
			s.gmap_url, 
			s.address, 
			s.business_hours, 
			s.closed_days, 
			s.estimated_budget, 
			s.keywords, 
			s.details, 
			s.deleted_at, 
			s.created_at, 
			s.updated_at
        FROM spots s
        LEFT JOIN LATERAL (
  			SELECT * FROM spot_photos
  			WHERE spot_id = s.id
  			ORDER BY created_at DESC
  			LIMIT 1
		) sp ON true
		JOIN (
  			SELECT spot_id, AVG(rating) AS avg_rating
  			FROM reviews
  			GROUP BY spot_id
		) r ON r.spot_id = s.id
        ORDER BY avg_rating DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- スポット数のカウント -->
    <select id="count" resultType="long">
        SELECT count(*) FROM spots
    </select>

</mapper>