<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.nagahoribashi_walk.repository.SpotPhotoMapper">

	<!-- スポットIDから、紐づいた画像情報を全件取得 -->
	<select id="findAllBySpotId" resultType="com.example.nagahoribashi_walk.entity.SpotPhoto">
		SELECT
			id,
			spot_id,
			display_order,
			photo_url
		FROM spot_photos
		WHERE spot_id = #{spotId}
		ORDER BY display_order
	</select>
	
	<!-- 画像情報を末尾に追加 -->
	<insert id="insertLast" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO spot_photos
		(
			spot_id,
			display_order,
			photo_url
		) VALUES (
			#{spotId},
			(
				SELECT MAX(COALESCE(display_order, 0)) FROM spot_photos
				WHERE spot_id = #{spotId}
			) + 1,
			#{photoUrl}
		)
	</insert>

	<!-- 画像情報を削除 -->
	<delete id="delete">
		DELETE FROM spot_photos
		WHERE id = #{id}
	</delete>

	<!-- 指定されたスポットに紐づいた、指定されたdisplay_orderの画像情報を取得 -->
	<select id="findBySpotIdAndDisplayOrder" resultType="com.example.nagahoribashi_walk.entity.SpotPhoto">
		SELECT 
			id,
			spot_id,
			display_order,
			photo_url
		FROM spot_photos
		WHERE spot_id = #{spotId}
		AND display_order = #{displayOrder}
		LIMIT 1
	</select>

	<!-- 指定されたスポットに紐づいた、指定されたdisplay_order以上の画像情報を全件取得 -->
	<select id="findBySpotIdAndDisplayOrderGreaterThanEqual" resultType="com.example.nagahoribashi_walk.entity.SpotPhoto">
		SELECT 
			id,
			spot_id,
			display_order,
			photo_url
		FROM spot_photos
		WHERE spot_id = #{spotId}
		AND display_order >= #{displayOrder}
		ORDER BY display_order ASC
	</select>


	<!-- 指定されたIDから画像情報を取得 --> 
	<select id="findEntityById">
		SELECT 
			id,
			spot_id,
			display_order,
			photo_url
		FROM spot_photos
		WHERE id = #{id}
	</select>

	<!-- 指定された画像URLのレコードがあるか確認 --> 
	<select id="existsByPhotoUrl" resultType="boolean">
		SELECT EXIST (
			SELECT 1
			FROM spot_photos
			WHERE photo_url = #{photoUrl}
		)
	</select>


	<!-- display_orderを一括更新 -->
	<update id="bulkUpdateDisplayOrder">
		UPDATE spot_photos
		SET display_order = 
			<foreach collection="spotPhotos" item="item" open="CASE" close="END">
				WHEN id = #{item.id} THEN #{item.displayOrder}
			</foreach>
		WHERE id IN
		<foreach collection="spotPhotos" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO spot_photos (spot_id, display_order, photo_url)
		VALUES (#{spotId}, #{displayOrder}, #{photoUrl})
    </insert>
</mapper>