<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nagahoribashi_walk.repository.SubCategoryMapper">
    

    
    <delete id="deleteDefaultSubCategoriesByCategoryId">
        DELETE FROM sub_categories 
        WHERE category_id = #{categoryId} 
        AND is_default = true
    </delete>

    <select id="findById" resultType="com.example.nagahoribashi_walk.dto.NavSubCategory">
        SELECT id, name, category_id FROM sub_categories
        WHERE id = #{id}
    </select>

    <select id="findSiblings" resultType="com.example.nagahoribashi_walk.dto.NavSubCategory">
        SELECT sc.id, sc.name, sc.category_id
        FROM categories c
        RIGHT JOIN sub_categories sc
        ON c.id = sc.category_id
        WHERE c.id = (SELECT category_id FROM sub_categories WHERE id = #{subCategoryId})
        ORDER BY sc.display_order ASC NULLS LAST
    </select>

    <select id="findByCategoryId" resultType="com.example.nagahoribashi_walk.dto.NavSubCategory">
        SELECT id, name, category_id
        FROM sub_categories
        WHERE category_id = #{categoryId}
        ORDER BY display_order ASC NULLS LAST
    </select>

    <!-- IDからサブカテゴリ(Entity)を取得する -->
    <select id="findEntityById" resultType="com.example.nagahoribashi_walk.entity.SubCategory">
        SELECT id, name, category_id as categoryId, display_order FROM sub_categories WHERE id = #{id}
    </select>

    <!-- カテゴリIDと表示順でサブカテゴリを取得する -->
    <select id="findEntityByCategoryIdAndDisplayOrder" resultType="com.example.nagahoribashi_walk.entity.SubCategory">
        SELECT id, name, category_id, display_order
        FROM sub_categories
        WHERE category_id = #{categoryId} AND display_order = #{displayOrder}
        LIMIT 1
    </select>

    <!-- カテゴリIDに対応するサブカテゴリ一覧を取得する -->
    <select id="findEntityByCategoryId" resultType="com.example.nagahoribashi_walk.entity.SubCategory">
        SELECT id, name, category_id as categoryId, display_order FROM sub_categories 
        WHERE category_id = #{categoryId} ORDER BY display_order ASC
    </select>
    
    <!-- カテゴリIDに対応する「その他」サブカテゴリを取得する -->
    <select id="findDefaultByCategoryId" resultType="com.example.nagahoribashi_walk.entity.SubCategory">
        SELECT id, name, category_id as categoryId, display_order FROM sub_categories 
        WHERE is_default = true AND category_id = #{categoryId}
    </select>

    <update id="update">
        UPDATE sub_categories 
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <update id="updateDisplayOrder">
        UPDATE sub_categories 
        SET display_order = #{displayOrder}
        WHERE id = #{id}
    </update>

    <update id="updateIsDefault">
        UPDATE sub_categories 
        SET is_default = #{isDefault}
        WHERE id = #{id}
    </update>

    <!-- 新規追加 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sub_categories (name, category_id, display_order)
        VALUES (
            #{name}, 
            #{categoryId}, 
            (SELECT COALESCE(MAX(display_order), 0) + 1 FROM sub_categories)
        )
    </insert>
    
    <!-- 削除 -->
    <delete id="delete">
        DELETE FROM sub_categories WHERE id = #{id}
    </delete>

</mapper>