<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <main class="flex-grow-1" style="background-color: #f8fafc;">

    </main>
</body>

    <!--　お気に入り解除　-->
	<form th:action="@{/favorite/remove}" method="post">
	    <input type="hidden" name="spotId" th:value="${spotId}">

	    <button type="submit" th:if="${isFavorite}">
	        お気に入り解除
	    </button>
		
	</form>
	<!--　お気に入り登録　-->
	<form th:action="@{/favorite/add}" method="post">
		<input type="hidden" name="spotId" th:value="${spotId}">
		
		<button type="submit" th:if="${!isFavorite}">
		        お気に入り登録
		  </button>
	</form>


</html>